li{
    list-style: none;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    /* background-color: #ccc; */
    min-height: 100vh;
    height: max-content;
}