.sectionStats{
    background-color: #fff;
    width: max-content;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.title{
    text-align: center;
}
.listStats{
    width: 100%;
    padding: 0;
    display: flex;
    margin-bottom: 0;

}
.label, .percentage{
    display: block;
    text-align: center;
    margin: 5px;
    padding: 5px 15px;
    color: #fff;
}

.percentage {
    font-size: 1.4em;
    font-weight: 600;
}